header{
    font-family: $baseFont;

    h1{
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    color: $secondColor;
}
    form{
    text-align: center;
    font-size: 40px;
}
    label{
        color: $thirdColor;
    }

    p{
        color: $thirdColor;
        font-size: 16px;
        margin: 0;
    }

    input{
        border: 1px solid $primaryColor;
        font-size: 25px;
        padding: 10px 20px;
    }

    .showJobs{
        background: $secondColor;
        color: #ffff;
        font-size: 25px;
        border: 1px;
        padding: 16px 65px;
        margin-top: 60px;
    }
    .showJobs:hover{
        background: $thirdColor;
        border: 1px solid $thirdColor;
    }
}

