main{
    font-family: $baseFont;
    margin-top: 100px;
    .job{
        float: left;
        width: calc(33.33% - 20px);
        text-align: center;
        padding: 40px 15px;
        background: $fourthColor;
        margin: 10px;
    }
    
    .job h2{
        font-size: $mediumFontSize;
        color: $thirdColor;
          
    }
    
    .job h3{
        font-size: $mediumFontSize;
        color: $secondColor;
        margin-top: 50px; 
    }
    
    .job p{
        font-size: $smallFontSize;
        color: $primaryColor;
        margin-top: 50px; 
    }
    
    .jobbtn {
        font-size: $smallFontSize;
        margin-top: 60px; 
        padding: 10px 45px;
        background: $secondColor;
        color: #ffff;
        border: 1px solid $secondColor;
    }
    // form styling ======
    form{
        font-family: $baseFont;
        // margin: 0 auto;
        color: $thirdColor;
        background: $fourthColor;

        .wordSkillContainer{
            display: flex;
            flex-direction: column;
        }
        
        .wordSkillBox{
            display: flex;
           flex-direction: column;
        }

        .wordBox{
            display: flex;
            padding: 30px;
            align-items: center;
        }

        .submitButton{
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
        }

        input[type="checkbox"]{
            height: 33px;
            width: 31px;
        }
    
        p{
            font-size: $bigFontSize;
            text-align: center;
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        label{
            font-size: $regularFontSize;
            color: $primaryColor;
        }

        input[type="submit"]{
            background: $secondColor;
            color: #ffff;
            font-size: 25px;
            border: 1px;
            padding: 16px 65px;
            margin-top: 100px;
        }

        input[type="submit"]:hover{
            background: $thirdColor;
            border: 1px solid $thirdColor;
        }
    }
    // cover letter styling =====
    .coverLetter{
        border: 1px solid #888888;
        padding: 50px 75px;
        line-height: 1.6;
        margin-top: 75px;
        box-shadow: 10px 10px 10px #888888;
        font-family: $secondFont;
    }
    .coverLetter h3{
        font-size: 26px;
        
    }
    
    .coverLetter p{
        font-size: 18px;
    }

    .skillsList li{
        font-size: 18px;
    }

    span{
        // color: $secondColor;
        font-size: 18px;
    }
    // Create Email Button Style
    .emailButton{
        background: $secondColor;
        color: #ffff;
        font-size: 25px;
        border: 1px;
        padding: 16px 65px;
       margin-top: 100px;
    }
    // Create Again Button Style ===
    
    .againButton button {
        background: $secondColor;
        color: #ffff;
        font-size: 25px;
        border: 1px;
        padding: 16px 65px;
       margin-top: 100px;
    }

    button:hover{
        background: $thirdColor;
        border: 1px solid $thirdColor;
    }

}