.job {
  float: left;
  width: calc(33.33% - 10px);
  margin: 5px; }

.job h2 {
  font-size: 28px; }

.job h3 {
  font-size: 22px; }

.job p {
  font-size: 18px; }

.jobbtn {
  font-size: 20px; }

.coverLetter h3 {
  font-size: 26px; }

.coverLetter p {
  font-size: 18px; }
