@media (max-width: 1170px){
.jobContainer .job{
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .wrapperLetter{
        width: 90%;
    }
    main .againButton{
        font-size: $smallFontSize;
        text-align: center;
    }
    address button.emailButton{
       font-size: $smallFontSize;
        text-align: center;
    }
}

@media (max-width: 830px){
    h1{
        font-size: $bigFontSize;
    }
}

@media (max-width: 360px){
    .jobContainer .job{
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .wrapperLetter{
        width: 90%;
    }
    address button.emailButton{
       font-size: $smallFontSize;
        text-align: center;
    }
}