article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

i {
  color: white; }

@media (max-width: 1170px) {
  .jobContainer .job {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .wrapperLetter {
    width: 90%; }
  main .againButton {
    font-size: 16px;
    text-align: center; }
  address button.emailButton {
    font-size: 16px;
    text-align: center; } }

@media (max-width: 830px) {
  h1 {
    font-size: 40px; } }

@media (max-width: 360px) {
  .jobContainer .job {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .wrapperLetter {
    width: 90%; }
  address button.emailButton {
    font-size: 16px;
    text-align: center; } }

main {
  font-family: "Roboto Mono", monospace;
  margin-top: 100px; }
  main .job {
    float: left;
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 40px 15px;
    background: #d3d3d3;
    margin: 10px; }
  main .job h2 {
    font-size: 22px;
    color: #ee6f2e; }
  main .job h3 {
    font-size: 22px;
    color: #2e66eb;
    margin-top: 50px; }
  main .job p {
    font-size: 16px;
    color: #62574e;
    margin-top: 50px; }
  main .jobbtn {
    font-size: 16px;
    margin-top: 60px;
    padding: 10px 45px;
    background: #2e66eb;
    color: #ffff;
    border: 1px solid #2e66eb; }
  main form {
    font-family: "Roboto Mono", monospace;
    color: #ee6f2e;
    background: #d3d3d3; }
    main form .wordSkillContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    main form .wordSkillBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    main form .wordBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 30px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    main form .submitButton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 100px; }
    main form input[type="checkbox"] {
      height: 33px;
      width: 31px; }
    main form p {
      font-size: 40px;
      text-align: center;
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px; }
    main form label {
      font-size: 20px;
      color: #62574e; }
    main form input[type="submit"] {
      background: #2e66eb;
      color: #ffff;
      font-size: 25px;
      border: 1px;
      padding: 16px 65px;
      margin-top: 100px; }
  main .coverLetter {
    border: 1px solid #888888;
    padding: 50px 75px;
    line-height: 1.6;
    margin-top: 75px;
    -webkit-box-shadow: 10px 10px 10px #888888;
    box-shadow: 10px 10px 10px #888888;
    font-family: "Titillium Web", sans-serif; }
  main .coverLetter h3 {
    font-size: 26px; }
  main .coverLetter p {
    font-size: 18px; }
  main ul .skillsList {
    font-size: 18px; }
  main span {
    color: #2e66eb;
    font-size: 18px; }
  main .emailButton {
    background: #2e66eb;
    color: #ffff;
    font-size: 25px;
    border: 1px;
    padding: 16px 65px;
    margin-top: 100px; }
  main .againButton button {
    background: #2e66eb;
    color: #ffff;
    font-size: 25px;
    border: 1px;
    padding: 16px 65px;
    margin-top: 100px; }

header {
  font-family: "Roboto Mono", monospace; }
  header h1 {
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #2e66eb; }
  header form {
    text-align: center;
    font-size: 40px; }
  header label {
    color: #ee6f2e; }
  header p {
    color: #ee6f2e;
    font-size: 16px;
    margin: 0; }
  header input {
    border: 1px solid #62574e;
    font-size: 25px;
    padding: 10px 20px; }
  header button {
    background: #2e66eb;
    color: #ffff;
    font-size: 25px;
    border: 1px;
    padding: 16px 65px;
    margin-top: 60px; }

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.wrapperForm {
  max-width: 880px;
  margin: 0 auto; }

.wrapperLetter {
  max-width: 780px;
  margin: 0 auto; }
