$baseFont: 'Roboto Mono', monospace;
$secondFont:'Titillium Web', sans-serif;

$primaryColor:  #62574e;
$secondColor: #2e66eb;
$thirdColor: #ee6f2e;
$fourthColor: #d3d3d3;

$bigFontSzie: 40px;
$mediumFontSize: 22px;
$regularFontSize: 20px;
$smallFontSize: 16px;

@import "components/setup";
@import "components/variable";
@import "components/mediaquery";
@import "components/main";
@import "components/header";
@import "components/footer";
@import "components/mixin";

html{
    font-size: 62.5%;
    font-family: $baseFont;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.wrapperForm{
    max-width: 880px;
    margin: 0 auto;
}

.wrapperLetter{
    max-width: 780px;
    margin: 0 auto;
}